https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl

opencv-python
gunicorn
attrs==19.3.0
beautifulsoup4==4.9.1
bleach==3.1.5
blis==0.4.1
Bottleneck==1.3.2
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.3
dataclasses==0.7
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fastai==1.0.61
fastprogress==0.2.4
Flask==1.1.2
future==0.18.2

Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3

matplotlib==3.3.0

numpy==1.19.1

packaging==20.4
pandas==0.24.2
pandocfilters==1.4.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
plac==1.1.3
portpicker==1.2.0
preshed==3.0.2
prompt-toolkit==1.0.18
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.21.0
rsa==4.6
scipy==1.5.2
simplegeneric==0.8.1
six==1.12.0
soupsieve==2.0.1
spacy==2.3.2
srsly==1.0.2
terminado==0.8.3
testpath==0.4.4
thinc==7.4.1

tornado==4.5.3
tqdm==4.48.0
traitlets==4.3.3
urllib3==1.24.3
wasabi==0.7.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
